@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 8;
  font-family: "Golos Text", sans-serif;
}

body {
  background-color: #232323;
}

.scroll-container::-webkit-scrollbar {
  width: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #626273;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #6968ff;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #7a7aff;
}

.textarea-scroll::-webkit-scrollbar {
  width: 4px;
}

.textarea-scroll::-webkit-scrollbar-track {
  background: #626273;
}

.textarea-scroll::-webkit-scrollbar-thumb {
  background: #6968ff;
}

.textarea-scroll::-webkit-scrollbar-thumb:hover {
  background: #7a7aff;
}

.textarea-placeholder::placeholder {
  opacity: 0.5;
}
